.gametable {
	display: inline-block;
	background-image: url('/img/bg.png');
	width: 320;
	height: 480;
}

.gameTitle {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
}

.scoreArea {
	display: block;
	position: relative;
	padding-left: 15px;
}

.scoreArea>div {
	display: inline-block;
}

.btnScoreInfo>img {
	padding-left: 5;
	padding-bottom: 5;
}

.scoreSpins {
	position: absolute;
	right: 15;
}

#scoreVal {
	padding-left: 5;
}

#spinsVal {
	padding-left: 5;
}

.board {
	display: table;
	border: solid 1px;
	border-spacing: 1;
	margin: auto;
	position: relative;
}

.boardBackground {
	position: absolute;
	top: 0;
	left: -17;
	display: none;
}

.boardRow {
	display: table-row;
}

.boardCell {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 40px;
	height: 40px;
	cursor: default;
	border-radius: 8;
}

.validcell {
	background-color: lavender;
}

.validcell:hover {
	background-color: lightblue;
}

.playedcell {
	color: white;
	background-color: blue;
}

.bonuscell {
	background-color: goldenrod;
}

.penaltycell {
	background-color: red;
}

.rollarea {
	position: relative;
}

#openingBonus {
	position: absolute;
	top: 19;
	left: 20;
	display: none;
}

.roll {
	display: table;
	margin: auto;
}

.wheel {
	display: table-cell;
	font-size: 24px;
	text-align: center;
	vertical-align: middle;
	width: 64px;
	height: 64px;
	cursor: default;
}

.usedwheel {
	color:#999;
}

#controlArea {
	position: relative;
}

.inGameControls {
	text-align: center;
}

.gameOverControls {
	text-align: center;
}

.inGameControls button {
	font-size: 12px;
}

.btnBonusInfo {
	position: absolute;
	top: -25;
	right: 15;
	cursor: pointer;
}

#gameStats {
	padding-top: 10px;
}

.statLine {
	display: table-row;
}

.statName {
	display: table-cell;
}

.statVal {
	display: table-cell;
	padding: 1px 5px;
	text-align: right;
}

#bonusStats {
	display: table-row;
}

.bonusGroup {
	display: table-cell;
	padding: 10px;
}

#bonusesEarned {
	padding-left: 5px;
	text-align: right;
}

#bonusesUsed {
	padding-left: 5px;
	text-align: right;
}

.modalOverlay {
	display:none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(0,0,0,0.5); /*dim the background*/
}

#selectPrompt {
	position: absolute;
	top: 10;
	width: 284;
	font-size: 24;
	text-align: center;
}

#selectWheel {
	position: relative;
	height: 150px;
	background-color: white;
	border-radius: 6px;
}

#btnCancel {
	position: relative;
	top: 108;
	right: -108;
}

#btnWheel1 {
	position: absolute;
	left: 56;
	top: 51;
	width: 50px;
	height: 50px;
	font-size: 24;
}

#btnWheel2 {
	position: absolute;
	left: 120;
	top: 51;
	width: 50px;
	height: 50px;
	font-size: 24;
}

#btnWheel3 {
	position: absolute;
	left: 184;
	top: 51;
	width: 50px;
	height: 50px;
	font-size: 24;
}

#bdgPass {
	margin-left: 5;
}

#scoreDetails {
	position: absolute;
	top: 65;
	padding: 10;
	background-color: white;
	border-radius: 6px;
}

.scoreLine {
	display: table-row;
}

.scoreDesc {
	display: table-cell;
}

.scoreVal {
	display: table-cell;
	padding-left: 5;
	text-align: right;
}

#bonusDetails {
	position: absolute;
	top: 254;
	left: 42;
	padding: 10;
	background-color: white;
	border-radius: 6px;
}
