.gametable {
	display: inline-block;
}

.board {
	display: table;
	border: solid 1px;
	border-spacing: 1;
}

.boardRow {
	display: table-row;
}

.boardCell {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 40px;
	height: 40px;
	cursor: default;
	border-radius: 8;
}

.validcell {
	background-color: lavender;
}

.validcell:hover {
	background-color: lightblue;
}

.playedcell {
	color: white;
	background-color: blue;
}

.roll {
	display: table;
	margin: auto;
}

.wheel {
	display: table-cell;
	font-size: 24px;
	text-align: center;
	vertical-align: middle;
	width: 64px;
	height: 64px;
	cursor: default;
}

.usedwheel {
	color:lightgray;
}

.inGameControls {
	text-align: center;
}

.inGameControls button {
	font-size: 12px;
}

#gameStats {
	padding-top: 10px;
}

.statLine {
	display: table-row;
}

.statName {
	display: table-cell;
}

.statVal {
	display: table-cell;
	padding: 1px 5px;
	text-align: right;
}

#modalOverlay {
	display:none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(0,0,0,0.5); /*dim the background*/
}

#selectPrompt {
	position: absolute;
	top: 115;
	width: 284;
	font-size: 24;
	text-align: center;
}

#selectWheel {
	position: relative;
	top: 112;
	left: 0;
	height: 150px;
	background-color: white;
	border-radius: 6px;
}

#btnCancel {
	position: relative;
	top: 70;
	right: -108;
}

#btnWheel1 {
	position: absolute;
	left: 56;
	top: 51;
	width: 50px;
	height: 50px;
	font-size: 24;
}

#btnWheel2 {
	position: absolute;
	left: 120;
	top: 51;
	width: 50px;
	height: 50px;
	font-size: 24;
}

#btnWheel3 {
	position: absolute;
	left: 184;
	top: 51;
	width: 50px;
	height: 50px;
	font-size: 24;
}
